div.textDiv {padding-top:20px;}
textarea.eaText {padding:5px; width:200px;font-size:15px; height:200px;resize: vertical;}
select.eaSelect {width:200px;}
#submit {margin-bottom: 5px;}
table.display * {
    font-size: 13px;
}

/*del*/


